<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>hrm.system.HRMMain</listener-class>
    </listener>
<!--    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>hrm.servlets.HRMDispatcherServlet</servlet-class>
    </servlet>-->
    <context-param>
        <param-name>system-root</param-name>
        <param-value>/home/davis/ServerData/hr-management-sample/</param-value>
    </context-param>
    
    <context-param>
        <param-name>system-user</param-name>
        <param-value>hrmsampleuser</param-value>
    </context-param>
    
    <context-param>
        <param-name>system-passcode</param-name>
        <param-value>hrmsamplepasscode</param-value>
    </context-param>
    
    <context-param>
        <param-name>servlet-namespace</param-name>
        <param-value>hr-management-sample</param-value>
    </context-param>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
</web-app>
