<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>hrm.system.HRMMain</listener-class>
    </listener>
    <servlet>
        <servlet-name>RegistrationFormServlet</servlet-name>
        <servlet-class>hrm.servlets.HRMDispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationFormServlet</servlet-name>
        <url-pattern>/RegistrationFormServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
</web-app>
